@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

@import '_variables.scss';
@import '_mixins.scss';
@import '_animations.scss'; 


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth !important;
}
body {
    width: 100%;
    height: 100%;
    background: #222; // Default color
}
ul li{
list-style: none;
padding: 0;
margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .left-part-slide{
        @include FlexMid(column);
        visibility: hidden;
        align-items: flex-start;
        width: 50%;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        transition: transform .3s ease;
        padding: 28px 40px;
        backdrop-filter: blur(30px);
        .cross2{
            position: relative;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 20px;
            right: 25px;
            z-index: 10;
            img{
                @include Centreabsolute;
                width: 20px;
            }
        }
        ul{
            padding-bottom: 40%;
            font-size: 16px;
            li{
                position: relative;
                padding: 15px 0px;
                ::after{    
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    margin-bottom: 2px;
                    background: white;
                    transition: all 0.4s ease;
                }
                a{
                    color: white;
                }
                p{
                    color: white;
                }
                /*
                &:nth-of-type(4){ //For active thing
                    a{
                        color: white;
                    }
                    ::after{
                        width: 100%;
                    }
                }
                */
                &:hover{
                    ::after{
                        width: 100%; 
                    }
                }
            }
        }
        .contact-container{
            @include FlexMid(row);
            margin-left: 10px;
            img{
                width: 15px;
                &:first-child{
                    width: 10px;
                }
                &:nth-child(2){
                    margin: 0px 20px;
                }
            }
        }
        .right{
            padding-top: 10px;
            p{
                color: white;
                font-size: 13px;
                font-weight: 450;
            }
        }
    } 
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.400);
        z-index: 0;
    }
    .header{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 125px;
        background: rgba(0, 0, 0, 0.415);
        transition: all .3s;
        overflow: hidden;
        z-index: 1;
        .container-header{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%; 
            .navbar-brand{
                position: relative;
                @include FlexMid(row);
                cursor: pointer;
                img/*svg*/{
                    width: 60px;
                }
                .border-bottom{
                    background: white;
                    position: absolute;
                    width: 5000px;
                    height: 0.1px;
                    bottom: 1px;
                    left: -0px;
                }
            }
            .navbar-line{
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-size: 18px;
                font-weight: 700;
                a{
                    color: white; 
                }
                li{
                    @include FlexMid(row);
                    position: relative;
                    height: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    img{
                        width: 35px;
                        @include FlexMid(row);
                        padding-right: 8px;
                    }
                    ::after{    
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 2px;
                        width: 0%;
                        margin-bottom: 1px;
                        background: $firstcolor;
                        transition: all 0.4s ease;
                    }
                    &:hover{
                        ::after{
                            width: 100%; 
                        }
                    }
                }
            }
            .btn-chat{
                position: relative;
                @include FlexMid(row);
                .btn-chat-js{
                    @include FlexMid(row);
                    position: relative;
                    height: 40%;
                    font-size: 18px;
                    font-weight: 700;
                    box-shadow: 0px 0px 0px 2px white;
                    color: white;
                    border-radius: 1px;
                    outline: none;
                    border: none;
                    padding: 0 20px;
                }
            }
            .mobile-nav{
                display: none;
                width: 40px;
                height: 100%;
                &:hover{
                    span{
                        width: 100% !important;
                    }
                }
                a{
                    @include FlexMid(column);
                    width: 100%;
                    height: 100%;
                    span{
                        height: 3px;
                        width: 100%;
                        display: block;
                        background: white;
                        &:nth-child(2){
                            margin: 4px 0px 4px auto;
                            width: 75%;
                            transition: 0.3s all;
                        }
                        &:nth-child(3) {
                            margin-left: auto;
                            width: 45%;
                            transition: 0.6s all;
                        }
                    }
                }
            }
        }
    }
    video{
        position: relative;
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .container{
        @include FlexMid(column);
        width: 100%;
        height: 100vh;
        .p1{
            @include FlexMid(row);
            position: relative;
            font-size: 7vw;
            font-weight: 700; 
            color: white;
            z-index: 1;
            .dot{
                @include FlexMid(row);
                .dot1{
                    animation: dot 1s ease infinite;
                    animation-delay: -0.4s;
                }
                .dot2{
                    animation: dot 1s ease infinite;
                    animation-delay: -0.2s;
                }
                .dot3{
                    animation: dot 1s ease infinite;
                    animation-delay: 0s;
                }
            }
            p{ //astronaute
                &:nth-of-type(2){
                    padding-left: 2vw;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }
        .p2{
            font-size: 5vw;
            font-weight: 600; 
            color: white;
            z-index: 1;
        }
    }
    .gradient-transition1{
        @include FlexMid(row);
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#222, black);
        overflow: hidden;
        .box{
            width: 100%;
            height: 50%;
            //overflow: hidden;
            p{
                @include FlexMid();
                width: 100%;
                height: 100%;
                font-size: 20px;
                color: white;
                padding: 0px 50px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                opacity: 0.3;
            }
        }
    }

    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: auto;
        background: black;
        overflow: hidden;
        .blur-filter{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(10px);
        }
        .solar-system{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-direction: row-reverse;
            position: absolute;
            top: 10%;
            right: -100px;
            width: 100%;
            height: 100%;
            .blur{
                position: relative;
                div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    //animation: PositionAbsolute 1s infinite;
                    transition: 1s all;
                    &:nth-child(1) {
                        filter: blur(0px);
                    }
                    &:nth-child(2) {
                        filter: blur(30px);
                    }
                    &:nth-child(3) {
                        filter: blur(60px);
                    }
                    &:nth-child(4) {
                        filter: blur(90px);
                    }
                    &:nth-child(5) {
                        filter: blur(120px);
                    }
                }
                &:nth-child(1) {
                    //could've remove the div{} to ajust the background color but is no needed since .blur take the whole bubble
                    div{
                        background: #FDB813;
                    }
                }
                &:nth-child(2) {
                    div{
                        background: #883719;
                    }
                }
                &:nth-child(3) {
                    div{
                        background: #8B7D82;
                    }
                }
                &:nth-child(4) {
                    div{
                        background: #0d7167;
                    }
                }
                &:nth-child(5) {
                    div{
                        background: #a1251b;
                    }
                }
                &:nth-child(6) {
                    div{
                        background: #bcafb2;
                    }
                }
                &:nth-child(7) {
                    div{
                        background: #ead6b8;
                    }
                }
                &:nth-child(8) {
                    div{
                        background: turquoise;
                    }
                }
                &:nth-child(9) {
                    div{
                        background: blue;
                    }
                }
            }
    
            .bubble1{
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            .bubble2{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .bubble3{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble4{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble5{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble6{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble7{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble8{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble9{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        .title1{
            font-family: Expletus Sans, sans-serif;
            font-size: 42px;
            color: white;
            z-index: 1;
            margin-top: 3vw;
            margin-bottom: 3vw;
        }
        .mini-container{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3vw;
            .box{
                @include FlexMid(column);
                width: 250px;
                height: 300px;//auto
                text-align: center;
                color: white;
                backdrop-filter: blur(30px);
                z-index: 1;
                /*
                &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5){
                    &:after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        width: 100%;
                        height: 4px;
                        background: white;
                    }
                }
                */
                h1{  
                    font-size: 30px;
                    padding: 30px;
                    border-radius: 50%;
                    border-style: outset;
                    font-family: Arial;
                    backdrop-filter: blur(10px);
                }
                h2{
                    font-size: 16px;
                    font-weight: 700;
                    padding: 1vw 0;
                }
                //p{}
            }
        }
    }
    
    .gradient-transition2{
        @include FlexMid(row);
        width: 100%;
        height: 25vh;
        background-image: linear-gradient(black, #222);
        overflow: hidden;
    }

    .container3{
        @include FlexMid(column);
        position: relative;
        width: 100%;
        height: 70vh;
        background: #222;
        overflow: hidden;
        h1{
            font-family: Expletus Sans, sans-serif;
            font-size: 42px;
            color: white;
            margin-bottom: 5vw;
            z-index: 1;
        }
        .threebox-container{
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: center;
            flex-direction: row;
            width: 100%;
            height: 100%;
            z-index: 1;
            .box{
                position: relative;
                width: 26vw;
                height: 17vw;
                border: 3px solid white;
                z-index: 1;
                overflow: hidden;
                .filter-animation{
                    @include FlexMid(column);
                    justify-content: flex-start;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(10px);
                    transition: 2s backdrop-filter;
                    z-index: 1;
                    h2{
                        font-family: Expletus Sans, sans-serif;
                        text-align: center;
                        margin-top: 1vw;
                        font-size: 18px;
                        font-weight: 800;
                        color: white;
                        z-index: 2; //because opacity: 0.9; below make a bug
                    }
                    .btn-animation{
                        @include Centreabsolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        flex-direction: row;
                        overflow: hidden;
                        transition: .3s opacity;

                        border: none;
                        background: transparent;
                        cursor: pointer;
                        //animation: jsanimation1 1s 1s;
                        //animation-fill-mode: forwards;
                        div{//.bar
                            width: 4px;
                            height: 20px;
                            background: white;
                            overflow: hidden;
                            /*
                            &:nth-child(1){
                                animation: jsanimation3 1s;
                                animation-fill-mode: forwards;
                            }
                            &:nth-child(3){
                                animation: jsanimation4 1s;
                                animation-fill-mode: forwards;
                            }
                            */
                        }
                        p{
                            @include FlexMid(row);
                            width: 100%;
                            text-transform: uppercase;
                            padding: 0 20px;
                            color: white;
                            overflow: hidden;
                            //animation: jsanimation2 1s;
                            //animation-fill-mode: forwards;
                        }
                    }
                }
                img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    //opacity: 0.9;
                }
            }
        }
    }

    .gradient-transition3{
        width: 100%;
        height: 15vh;
        background-image: linear-gradient(#222, black);
    }

    .container4{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        background: black;
        overflow: hidden;
        .blur-filter{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(10px);
        }
        .solar-system{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-direction: row;
            position: absolute;
            top: 10%;
            left: -100px;
            width: 100%;
            height: 100%;
            .blur{
                position: relative;
                div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    transition: 1s all;
                    &:nth-child(1) {
                        filter: blur(0px);
                    }
                    &:nth-child(2) {
                        filter: blur(30px);
                    }
                    &:nth-child(3) {
                        filter: blur(60px);
                    }
                    &:nth-child(4) {
                        filter: blur(90px);
                    }
                    &:nth-child(5) {
                        filter: blur(120px);
                    }
                }
                &:nth-child(1) {
                    //could've remove the div{} to ajust the background color but is no needed since .blur take the whole bubble
                    div{
                        background: #FDB813;
                    }
                }
                &:nth-child(2) {
                    div{
                        background: #883719;
                    }
                }
                &:nth-child(3) {
                    div{
                        background: #8B7D82;
                    }
                }
                &:nth-child(4) {
                    div{
                        background: #0d7167;
                    }
                }
                &:nth-child(5) {
                    div{
                        background: #a1251b;
                    }
                }
                &:nth-child(6) {
                    div{
                        background: #bcafb2;
                    }
                }
                &:nth-child(7) {
                    div{
                        background: #ead6b8;
                    }
                }
                &:nth-child(8) {
                    div{
                        background: turquoise;
                    }
                }
                &:nth-child(9) {
                    div{
                        background: blue;
                    }
                }
            }
            .bubble1{
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            .bubble2{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .bubble3{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble4{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble5{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble6{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble7{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble8{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble9{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        h1{
            font-family: Expletus Sans, sans-serif;
            font-size: 42px;
            margin-top: 3vw;
            margin-bottom: 3vw;
            color: white;
            z-index: 1;
        }
        .mini-container{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            width: auto;
            height: auto;
            backdrop-filter: blur(30px);
            padding: 40px;
            margin-bottom: 5vw;
            z-index: 1;
            .box{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                align-content: center;
                flex-direction: column;
                width: 100%;
                label{
                    font-family: Expletus Sans, sans-serif;
                    font-size: 22px;
                    margin: 1vw 0px 0.5vw 0.5vw;
                    color: white;
                }
                input{
                    position: relative;
                    border: 0;
                    outline: 0;
                    width: 300px;
                    padding: 12px 12px 12px 7px;
                    font-size: 16px;
                    &:focus-visible{
                        border-bottom: 3px solid black;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 1px;
                        width: 100%;
                        height: 1px;
                        background: black;
                    }
                }
                textarea{
                    border: 0;
                    outline: 0;
                    height: 150px;
                    width: 100%;
                    padding: 12px 12px 12px 7px;
                    font-size: 16px;
                    resize: vertical;
                }
            }
            button{
                cursor: pointer;
                border: none;
                outline: none;
                box-shadow: 0px 0px 0px 3px white;
                background: transparent;
                color: white;
                padding: 10px 30px;
                margin-top: 20px;
            }
        }
    }

    .gradient-transition4{
        width: 100%;
        height: 25vh;
        background-image: linear-gradient(black, #111);
    }

    .footer{
        @include FlexMid(row);
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: auto;
        background: #111;
        overflow: hidden;
        padding: 5vw 0 5vw 0;
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            color: white;
            width: 100%;
            height: 100%;
            .box-position{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: center;
                flex-direction: column;
                height: 70%;
                h1{
                    margin-bottom: 2vw;
                }
                li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    flex-direction: row;
                    margin-bottom: 1vw;
                    a{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        flex-direction: row;
                    }
                    img{
                        width: 30px;
                        margin-right: 7px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }





    //4k
    @media screen and (max-width: 2560px){
    }


    //Laptop L
    @media screen and (max-width: 1440px) {
    }

    //Laptop
    @media screen and (min-width: 1025px) {
        .container2{
            padding: 0 13vw;
        }
    }
    @media screen and (max-width: 1024px) {
        .container2{
            .box{
                &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5){
                    &:after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        width: 100%;
                        height: 4px;
                        background: white;
                    }
                }
            }
        }
    }

    //Tablets
    @media screen and (min-width: 770px) {
    }
    @media screen and (max-width: 768px) {
        .left-part-slide{
            visibility: visible;
            transform: translateX(100%);
        }
        .header{
            .container-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%; 
                margin: 0px 20px;
                .navbar-brand{
                    padding-right: 80px;
                    .titanagelogo{
                        height: auto;
                        width: 150px;
                    }
                }
                .navbar-line{
                    display: none;
                }
                .btn-chat{
                    display: none;
                }
                .mobile-nav{
                    height: 100%;
                    display: block;
                } 
            }
        }
        .gradient-transition1{
            @include FlexMid(column);
            .box{
                height: 70%;
                p{
                    font-size: calc(10px + 1.3vw); 
                }
            }
        }
        .container2{
            .box{
                &:nth-child(1), &:nth-child(3), &:nth-child(5){
                    &:after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        width: 50%;
                        height: 4px;
                        background: white;
                    }
                }
                &:nth-child(2), &:nth-child(4){
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .container3{
            height: 170vh;
            h1{
                margin-bottom: 0vw;
            }
            .threebox-container{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                flex-direction: column;
                .box{
                    width: 300px;
                    height: 200px;
                }
            }
        }
        .container4{
            .solar-system{
                justify-content: space-evenly;
                flex-direction: column-reverse;
                left: 0;
            }
        }
        .footer{
            flex-direction: column;
            align-items: center;
            gap: 5vw;
            .box{
                .box-position{
                    width: 50%;
                }
            }
        }
    }

    //phones
    @media screen and (max-width: 575px) {
        .left-part-slide{
            width: 100%;
        }
        .container2{
            .solar-system{
                justify-content: space-evenly;
                flex-direction: column;
                right: 0;
            }
            .box{
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
                    &:after{
                        content: ""; 
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        width: 4px;
                        height: 10%;
                        background: white;
                    }
                    &:nth-child(2), &:nth-child(4){
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}