@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@-webkit-keyframes dot {
  50% {
    transform: translateY(-30px);
  }
}
@keyframes dot {
  50% {
    transform: translateY(-30px);
  }
}
@-webkit-keyframes PositionAbsolute {
  50% {
    transform: translateY(50px);
  }
}
@keyframes PositionAbsolute {
  50% {
    transform: translateY(50px);
  }
}
@-webkit-keyframes jsanimation1 {
  100% {
    transform: translate(-50%, -50%) rotate(55deg);
  }
}
@keyframes jsanimation1 {
  100% {
    transform: translate(-50%, -50%) rotate(55deg);
  }
}
@-webkit-keyframes jsanimation2 {
  100% {
    width: 0;
    padding: 0px 0px;
  }
}
@keyframes jsanimation2 {
  100% {
    width: 0;
    padding: 0px 0px;
  }
}
@-webkit-keyframes jsanimation3 {
  100% {
    transform: translateX(54px);
  }
}
@keyframes jsanimation3 {
  100% {
    transform: translateX(54px);
  }
}
@-webkit-keyframes jsanimation4 {
  100% {
    transform: translateX(-54px);
  }
}
@keyframes jsanimation4 {
  100% {
    transform: translateX(-54px);
  }
}
@-webkit-keyframes jsanimation5 {
  100% {
    height: 600px;
  }
}
@keyframes jsanimation5 {
  100% {
    height: 600px;
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #222;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.page .header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 125px;
  background: rgba(0, 0, 0, 0.415);
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}
.page .header .container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.page .header .container-header .navbar-brand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  cursor: pointer;
}
.page .header .container-header .navbar-brand img {
  width: 60px;
}
.page .header .container-header .navbar-brand .border-bottom {
  background: white;
  position: absolute;
  width: 5000px;
  height: 0.1px;
  bottom: 1px;
  left: 0px;
}
.page .header .container-header .navbar-line {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 18px;
  font-weight: 700;
}
.page .header .container-header .navbar-line a {
  color: white;
}
.page .header .container-header .navbar-line li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  position: relative;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.page .header .container-header .navbar-line li img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding-right: 8px;
}
.page .header .container-header .navbar-line li ::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  width: 0%;
  margin-bottom: 1px;
  background: #d3b8a5;
  transition: all 0.4s ease;
}
.page .header .container-header .navbar-line li:hover ::after {
  width: 100%;
}
.page .header .container-header .btn-chat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.page .header .container-header .btn-chat .btn-chat-js {
  position: relative;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 0px 0px 2px white;
  color: white;
  border-radius: 1px;
  outline: none;
  border: none;
  padding: 0 20px;
}
.page .header .container-header .mobile-nav {
  display: none;
  width: 40px;
  height: 100%;
}
.page .header .container-header .mobile-nav:hover span {
  width: 100% !important;
}
.page .header .container-header .mobile-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.page .header .container-header .mobile-nav a span {
  height: 3px;
  width: 100%;
  display: block;
  background: white;
}
.page .header .container-header .mobile-nav a span:nth-child(2) {
  margin: 4px 0px 4px auto;
  width: 75%;
  transition: 0.3s all;
}
.page .header .container-header .mobile-nav a span:nth-child(3) {
  margin-left: auto;
  width: 45%;
  transition: 0.6s all;
}
.page video {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.page .container .p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  position: relative;
  font-size: 7vw;
  font-weight: 700;
  color: white;
  z-index: 1;
}
.page .container .p1 .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.page .container .p1 .dot .dot1 {
  -webkit-animation: dot 1s ease infinite;
          animation: dot 1s ease infinite;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.page .container .p1 .dot .dot2 {
  -webkit-animation: dot 1s ease infinite;
          animation: dot 1s ease infinite;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.page .container .p1 .dot .dot3 {
  -webkit-animation: dot 1s ease infinite;
          animation: dot 1s ease infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.page .container .p1 p:nth-of-type(2) {
  padding-left: 2vw;
  opacity: 0;
  transition: opacity 0.5s;
}
.page .container .p2 {
  font-size: 5vw;
  font-weight: 600;
  color: white;
  z-index: 1;
}
.page .gradient-transition1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#222, black);
  overflow: hidden;
}
.page .gradient-transition1 .box {
  width: 100%;
  height: 50%;
}
.page .gradient-transition1 .box p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: "";
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  padding: 0px 50px;
}
.page .gradient-transition1 .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  opacity: 0.3;
}
.page .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  background: black;
  overflow: hidden;
  /*
  &:before{
      content: "";
      position: absolute;
      top: 0px;
      width: 100%;
      height: 25vh;
      background-image: linear-gradient(black, #222);
      overflow: hidden;
  }
  */
}
.page .container2 .blur-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.page .container2 .blur div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 1s all;
}
.page .container2 .blur div:nth-child(1) {
  filter: blur(0px);
}
.page .container2 .blur div:nth-child(2) {
  filter: blur(30px);
}
.page .container2 .blur div:nth-child(3) {
  filter: blur(60px);
}
.page .container2 .blur div:nth-child(4) {
  filter: blur(90px);
}
.page .container2 .blur div:nth-child(5) {
  filter: blur(120px);
}
.page .container2 .blur:nth-child(2) div {
  background: #FDB813;
}
.page .container2 .blur:nth-child(3) div {
  background: #883719;
}
.page .container2 .blur:nth-child(4) div {
  background: #8B7D82;
}
.page .container2 .blur:nth-child(5) div {
  background: #0d7167;
}
.page .container2 .blur:nth-child(6) div {
  background: #a1251b;
}
.page .container2 .blur:nth-child(7) div {
  background: #bcafb2;
}
.page .container2 .blur:nth-child(8) div {
  background: #ead6b8;
}
.page .container2 .blur:nth-child(9) div {
  background: turquoise;
}
.page .container2 .blur:nth-child(10) div {
  background: blue;
}
.page .container2 .bubble1 {
  position: absolute;
  top: auto;
  right: -100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.page .container2 .bubble2 {
  position: absolute;
  top: auto;
  right: 20vw;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.page .container2 .bubble3 {
  position: absolute;
  top: auto;
  right: 30vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble4 {
  position: absolute;
  top: auto;
  right: 40vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble5 {
  position: absolute;
  top: auto;
  right: 50vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble6 {
  position: absolute;
  top: auto;
  right: 60vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble7 {
  position: absolute;
  top: auto;
  right: 70vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble8 {
  position: absolute;
  top: auto;
  right: 80vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .bubble9 {
  position: absolute;
  top: auto;
  right: 90vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.page .container2 .title1 {
  font-family: Expletus Sans, sans-serif;
  font-size: 42px;
  color: white;
  z-index: 1;
  margin-bottom: 3vw;
}
.page .container2 .mini-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
}
.page .container2 .mini-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  text-align: center;
  color: white;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 1;
  /*
  &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5){
      &:after{
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          width: 100%;
          height: 4px;
          background: white;
      }
  }
  */
}
.page .container2 .mini-container .box h1 {
  font-size: 30px;
  padding: 30px;
  border-radius: 50%;
  border-style: outset;
  font-family: Arial;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.page .container2 .mini-container .box h2 {
  font-size: 16px;
  font-weight: 700;
  padding: 1vw 0;
}
.page .gradient-transition2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(black, #222);
  overflow: hidden;
}
.page .container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 70vh;
  background: #222;
  overflow: hidden;
}
.page .container3 h1 {
  font-family: Expletus Sans, sans-serif;
  font-size: 42px;
  color: white;
  margin-bottom: 5vw;
  z-index: 1;
}
.page .container3 .threebox-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page .container3 .threebox-container .box {
  position: relative;
  width: 26vw;
  height: 17vw;
  border: 3px solid white;
  z-index: 1;
  overflow: hidden;
}
.page .container3 .threebox-container .box .filter-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 2s -webkit-backdrop-filter;
  transition: 2s backdrop-filter;
  transition: 2s backdrop-filter, 2s -webkit-backdrop-filter;
  z-index: 1;
}
.page .container3 .threebox-container .box .filter-animation h2 {
  /*
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 10px);
  */
  font-family: Expletus Sans, sans-serif;
  text-align: center;
  margin-top: 1vw;
  font-size: 18px;
  font-weight: 800;
  color: white;
  z-index: 2;
}
.page .container3 .threebox-container .box .filter-animation .btn-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  overflow: hidden;
  transition: 0.3s opacity;
  border: none;
  background: transparent;
  cursor: pointer;
}
.page .container3 .threebox-container .box .filter-animation .btn-animation div {
  width: 4px;
  height: 20px;
  background: white;
  overflow: hidden;
  /*
  &:nth-child(1){
      animation: jsanimation3 1s;
      animation-fill-mode: forwards;
  }
  &:nth-child(3){
      animation: jsanimation4 1s;
      animation-fill-mode: forwards;
  }
  */
}
.page .container3 .threebox-container .box .filter-animation .btn-animation p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  text-transform: uppercase;
  padding: 0 20px;
  color: white;
  overflow: hidden;
}
.page .container3 .threebox-container .box img {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 2560px) {
  .page {
    /*
    .container2{
        .box{
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    width: 100%;
                    height: 4px;
                    background: white;
                }
            }
        }
    }
    */
  }
}
@media screen and (min-width: 1025px) {
  .page .container2 {
    padding: 0 13vw;
  }
}
@media screen and (max-width: 1024px) {
  .page .container2 .box:nth-child(1):after, .page .container2 .box:nth-child(2):after, .page .container2 .box:nth-child(4):after, .page .container2 .box:nth-child(5):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 100%;
    height: 4px;
    background: white;
  }
}
@media screen and (max-width: 768px) {
  .page .header .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0px 20px;
  }
  .page .header .container-header .navbar-brand {
    padding-right: 80px;
  }
  .page .header .container-header .navbar-brand .titanagelogo {
    height: auto;
    width: 150px;
  }
  .page .header .container-header .navbar-line {
    display: none;
  }
  .page .header .container-header .btn-chat {
    display: none;
  }
  .page .header .container-header .mobile-nav {
    height: 100%;
    display: block;
  }
  .page .gradient-transition1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .page .gradient-transition1 .box {
    height: 70%;
  }
  .page .gradient-transition1 .box p {
    font-size: calc(10px + 1.3vw);
  }
  .page .container3 {
    height: 170vh;
  }
  .page .container3 h1 {
    margin-bottom: 0vw;
  }
  .page .container3 .threebox-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .page .container3 .threebox-container .box {
    width: 300px;
    height: 200px;
  }
  .page .container2 .box:nth-child(1):after, .page .container2 .box:nth-child(3):after, .page .container2 .box:nth-child(5):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50%;
    height: 4px;
    background: white;
  }
  .page .container2 .box:nth-child(2):after, .page .container2 .box:nth-child(4):after {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .page .container2 .bubble1 {
    position: absolute;
    top: -100px;
    right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .page .container2 .bubble2 {
    position: absolute;
    top: 230px;
    right: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .page .container2 .bubble3 {
    position: absolute;
    top: 330px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble4 {
    position: absolute;
    top: 430px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble5 {
    position: absolute;
    top: 530px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble6 {
    position: absolute;
    top: 630px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble7 {
    position: absolute;
    top: 730px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble8 {
    position: absolute;
    top: 830px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .bubble9 {
    position: absolute;
    top: 930px;
    right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .page .container2 .box:nth-child(1):after, .page .container2 .box:nth-child(2):after, .page .container2 .box:nth-child(3):after, .page .container2 .box:nth-child(4):after, .page .container2 .box:nth-child(5):after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 4px;
    height: 10%;
    background: white;
  }
  .page .container2 .box:nth-child(1):nth-child(2):after, .page .container2 .box:nth-child(1):nth-child(4):after, .page .container2 .box:nth-child(2):nth-child(2):after, .page .container2 .box:nth-child(2):nth-child(4):after, .page .container2 .box:nth-child(3):nth-child(2):after, .page .container2 .box:nth-child(3):nth-child(4):after, .page .container2 .box:nth-child(4):nth-child(2):after, .page .container2 .box:nth-child(4):nth-child(4):after, .page .container2 .box:nth-child(5):nth-child(2):after, .page .container2 .box:nth-child(5):nth-child(4):after {
    display: none;
  }
}/*# sourceMappingURL=INDEX-style.css.map */