@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '_variables.scss';
@import '_mixins.scss';
@import '_animations.scss'; 


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
ul li{
list-style: none;
padding: 0;
margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.400);
        z-index: 0;
    }
    .header{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 125px;
        background: rgba(0, 0, 0, 0.415);
        transition: all .3s;
        overflow: hidden;
        z-index: 1;
        .container-header{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%; 
            .navbar-brand{
                position: relative;
                @include FlexMid(row);
                cursor: pointer;
                img/*svg*/{
                    width: 60px;
                }
                .border-bottom{
                    background: white;
                    position: absolute;
                    width: 5000px;
                    height: 0.1px;
                    bottom: 1px;
                    left: -0px;
                }
            }
            .navbar-line{
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-size: 18px;
                font-weight: 700;
                a{
                    color: white; 
                }
                li{
                    @include FlexMid(row);
                    position: relative;
                    height: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    img{
                        width: 35px;
                        @include FlexMid(row);
                        padding-right: 8px;
                    }
                    ::after{    
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 2px;
                        width: 0%;
                        margin-bottom: 1px;
                        background: $firstcolor;
                        transition: all 0.4s ease;
                    }
                    &:hover{
                        a{
                            color: $firstcolor; 
                        }
                        ::after{
                            width: 100%; 
                        }
                    }
                }
            }
            .btn-chat{
                position: relative;
                @include FlexMid(row);
                .btn-chat-js{
                    position: relative;
                    width: 140px;
                    height: 40%;
                    @include FlexMid(row);
                    font-size: 18px;
                    font-weight: 700;
                    box-shadow: 0px 0px 0px 2px white;
                    color: white;
                    border-radius: 1px;
                    outline: none;
                    border: none;
                }
            }
            .mobile-nav{
                display: none;
                width: 40px;
                height: 100%;
                &:hover{
                    span{
                        width: 100% !important;
                    }
                }
                a{
                    @include FlexMid(column);
                    width: 100%;
                    height: 100%;
                    span{
                        height: 3px;
                        width: 100%;
                        display: block;
                        background: white;
                        &:nth-child(2){
                            margin: 4px 0px 4px auto;
                            width: 75%;
                            transition: 0.3s all;
                        }
                        &:nth-child(3) {
                            margin-left: auto;
                            width: 45%;
                            transition: 0.6s all;
                        }
                    }
                }
            }
        }
    }
    video{
        position: relative;
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .container{
        @include FlexMid(column);
        width: 100%;
        height: 100vh;
        .p-title{
            @include FlexMid(row);
            position: relative;
            font-size: 7vw;
            font-weight: 700; 
            color: white;
            z-index: 2;
            .dot{
                @include FlexMid(row);
                .dot1{
                    animation: dot 1s ease infinite;
                    animation-delay: -0.4s;
                }
                .dot2{
                    animation: dot 1s ease infinite;
                    animation-delay: -0.2s;
                }
                .dot3{
                    animation: dot 1s ease infinite;
                    animation-delay: 0s;
                }
            }
            p{ //astronaute
                &:nth-of-type(2){
                    padding-left: 30px;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }
    }
    .container2{
        @include FlexMid(column);
        position: relative;
        width: 100%;
        height: 100vh;
        background: black;
        overflow: hidden;
        &:before{
            content: "";
            position: absolute;
            top: 0px;
            width: 100%;
            height: 30vh;
            background-image: linear-gradient(#222, black);
            overflow: hidden;
        }
        .blur-filter{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(10px);
        }
        .blur{
            div {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                //animation: PositionAbsolute 1s infinite;
                transition: 1s all;
                &:nth-child(1) {
                    filter: blur(0px);
                }
                &:nth-child(2) {
                    filter: blur(30px);
                }
                &:nth-child(3) {
                    filter: blur(60px);
                }
                &:nth-child(4) {
                    filter: blur(90px);
                }
                &:nth-child(5) {
                    filter: blur(120px);
                }
            }
            &:nth-child(2) {
                //could've remove the div{} to ajust the background color but is no needed since .blur take the whole bubble
                div{
                    background: #FDB813;
                }
            }
            &:nth-child(3) {
                div{
                    background: #e5e5e5;
                }
            }
            &:nth-child(4) {
                div{
                    background: #8B7D82;
                }
            }
            &:nth-child(5) {
                div{
                    background: #0d7167;
                }
            }
            &:nth-child(6) {
                div{
                    background: #a1251b;
                }
            }
            &:nth-child(7) {
                div{
                    background: #bcafb2;
                }
            }
            &:nth-child(8) {
                div{
                    background: #ead6b8;
                }
            }
            &:nth-child(9) {
                div{
                    background: turquoise;
                }
            }
            &:nth-child(10) {
                div{
                    background: blue;
                }
            }
        }
        .bubble1{
            position: absolute;
            top: auto;
            right: -100px;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
        .bubble2{
            position: absolute;
            top: auto;
            right: 20vw;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .bubble3{
            position: absolute;
            top: auto;
            right: 30vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble4{
            position: absolute;
            top: auto;
            right: 40vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble5{
            position: absolute;
            top: auto;
            right: 50vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble6{
            position: absolute;
            top: auto;
            right: 60vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble7{
            position: absolute;
            top: auto;
            right: 70vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble8{
            position: absolute;
            top: auto;
            right: 80vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .bubble9{
            position: absolute;
            top: auto;
            right: 90vw;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }






    //Laptop
    @media screen and (max-width: 1024px) {
    }

    //Tablets
    @media screen and (min-width: 770px) {
    }
    @media screen and (max-width: 768px) {
        .header{
            .container-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%; 
                margin: 0px 20px;
                .navbar-brand{
                    padding-right: 80px;
                    .titanagelogo{
                        height: auto;
                        width: 150px;
                    }
                }
                .navbar-line{
                    display: none;
                }
                .btn-chat{
                    display: none;
                }
                .mobile-nav{
                    height: 100%;
                    display: block;
                } 
            }
        }
        .container2{
            height: 170vh;
            .bubble1{
                position: absolute;
                top: -100px;
                right: auto;
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
            .bubble2{
                position: absolute;
                top: 230px;
                right: auto;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .bubble3{
                position: absolute;
                top: 330px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble4{
                position: absolute;
                top: 430px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble5{
                position: absolute;
                top: 530px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble6{
                position: absolute;
                top: 630px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble7{
                position: absolute;
                top: 730px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble8{
                position: absolute;
                top: 830px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            .bubble9{
                position: absolute;
                top: 930px;
                right: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

    }

    //phones
    @media screen and (max-width: 575px) {
    }
}